{% extends "layout.jinja2" %}

{% block content %}

    {% if paginator.items %}

        <h2>Blog entries</h2>
        <ul>
        {% for entry in paginator.items %}
          <div class="blog-post">
                  <a href="/blog/{{ entry.id }}/{{ entry.title }}"><h2 class="blog-post-title">{{ entry.title }}</h2></a>
                  <p class="blog-post-meta">{{ entry.created.strftime('%m-%d-%Y') }}</p>
                  {{ entry.body }}
          </div>
        {% endfor %}
        </ul>
        <h4> {{ paginator.pager() |safe }} <h4>
    {% else %}
        <p>No blog entries found.</p>
    {% endif %}
{% endblock %}
