{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block content %}
	<div class="blog-post">
	<h2 class="blog-post-title">{{ entry.title }}</h1>
	<hr />
	<p>{{ entry.body }}</p>
	<hr/>
	<p class="blog-note">Created <strong title="{{ entry.created }}">
		{{ entry.created_in_words }}</strong> ago</p>

	</div>

	{% if request.authenticated_userid == 'admin' %}
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li>
				<a href="{{ request.route_url('blog_action', action='edit',
				_query={'id':entry.id}) }}">Edit Entry</a>
			</li>
			<li>
				<a onclick="return confirm('Are you sure you want to delete?')"
				href="{{ request.route_url('blog_action', action='delete',
				_query={'id':entry.id}) }}">Delete Entry</a>
			</li>
		</ul>
	</div>
	{% endif %}
        
        {% if request.authenticated_userid %}
        <form action="{{ request.route_url('comment', action='add_comment', id=entry.id) }}" method="post" class="form">
            
          {% for error in form.comment.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <div class="form-group">
                <label for="comment">{{ form.comment.label }}</label>
                {{ form.comment(class_='form-control') }}
            </div>

            <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
        {% endif %}


        {% if comments %}
          {% for comment in comments %}
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="/static/user_image.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading"> {{ comment.created_by }}</h4>
              {{ comment.comment }}
            </div>
          </div>
          {% endfor %}
        {% else %}
          <p> No comments </p>
        {% endif %}
{% endblock %}
